{% extends "base_layout.html" %}

{% block title %}About{% endblock %}

{% block main %}

<div class="jumbotron">
    <div class="container">
        <div class== about="row">
            <div class="col">
                <p>This is Project 2 for the HarvardX course "CS50's Web Programming with Python and JavaScript"</p>
                <p>The app is a private real-time online messaging service.</p>
                <p>For more details please visit the <a href="https://docs.cs50.net/web/2020/x/projects/2/project2.html">official project page</a></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

</html>